@page
@model IES9012.UI.Pages.Estudiantes.IndexModel

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="cadenaFiltro"
                value="@Model.FiltroActual" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Retornar a la lista</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].Nombre)
            </th>
            <th>
                <a asp-page="./Index" asp-route-clasificarOrden="@Model.OrdenNombre" asp-route-filtroActual="@Model.FiltroActual">
                @Html.DisplayNameFor(model => model.Estudiantes[0].Apellido)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-clasificarOrden="@Model.OrdenFecha" asp-route-filtroActual="@Model.FiltroActual">
                @Html.DisplayNameFor(model => model.Estudiantes[0].FechaInscripcion)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estudiantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EstudianteId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.EstudianteId">Detalle</a> |
                <a asp-page="./Delete" asp-route-id="@item.EstudianteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.Estudiantes.TienePaginaAnterior ? "disabled" : "";
    var nextDisabled = !Model.Estudiantes.TienePaginaSiguiente ? "disabled" : "";
}
<a asp-page="./Index"
    asp-route-clasificarOrden="@Model.OrdenActual"
    asp-route-indicePagina="@(Model.Estudiantes.PageIndex - 1)"
    asp-route-filtroActual="@Model.FiltroActual"
    class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
    asp-route-clasificarOrden="@Model.OrdenActual"
    asp-route-indicePagina="@(Model.Estudiantes.PageIndex + 1)"
    asp-route-filtroActual="@Model.FiltroActual"
    class="btn btn-primary @nextDisabled">
    Next
</a>